body{
background-color: blue;
font-size: 50px;
color: blueviolet; 
padding: 50px;
}
header{
    color: violet;
    font-family:unset;
    height: 350px;
    background-color: firebrick;
    background-image: url(https://ixbt.online/live/images/original/16/95/46/2023/05/01/d8dfb2dc7d.jpg);
    background-position-x: -300px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    text-shadow: hsl(282, 100%, 41%) 50px 20px 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}
h1{
    font-weight: 50px;
    font-size: 80px;
    text-shadow: hsl(282, 100%, 41%) 50px 20px 10px;
    text-align: center;
    font-family: unset;
    margin: 0px;
}
main{
    background-color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;    
}
footer{
    color: rgb(176, 43, 217);
    font-family: fantasy;
    height: 300px;  
    background-color: blue;
}
div{
    width: 50%;
    height: 90%;
}
.left{
    background: linear-gradient( to left, purple, blue);
    float: left;
    padding: 10px;
}
.right{
    background: linear-gradient( to left, blue, purple);
    float: right;
    padding: 10px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    height: 90%;
    display: flex;
}
body{
    margin: 0px;
}
li{
    list-style: none;
    padding: 20px;
}
.f_right{
    float: right;
}
.f_left{
    float: left;
}
ul{
    display: flex;
}